@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&display=swap');
:root{
    --color-white: #0a0909;
    --color-dark1: rgb(39, 39, 39);
    --color-dark2: #2d2d2d;
    --color-dark3: #414141;
    --color-dark4: #1c1c1c;
    --color-dark5: #343434;
    --color-purple: #fff;
    --cor-fundo: #251c1c;
    --cor-principal: #fff;
    --cor-secundario: #212121;
    --cor-fonte: #fff;
    --cor-linha-tabela: #212121;
    --cor-amarela: #83f1ea;
    --cor-instagram: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-principal);
    font-family: 'Inclusive Sans', sans-serif;
}
.home h1{
    color: linear-gradient(to right, #FFFFFF, #FFD700);
}
.img_logo_header{
    width: 45px;
}
.header,
.navigation_header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header{
    position: fixed; /* Adicionado para fixar o menu no topo */
    width: 100%; /* Adicionado para garantir que o menu ocupe toda a largura da página */
    top: 0; /* Adicionado para fixar o menu no topo da página */
    box-sizing: border-box;
    margin-right: 0;
    background-color: var(--color-dark2);
    justify-content: space-between;
    z-index: 1;
    height: 3.5em;
    box-shadow: 1px 1px 4px var(--color-dark4);
}
.navigation_header{
    gap: 3em;
    z-index: 2;
}
.content{
    padding-top: 5em;
    text-align: center;
    height: 100vh;
    transition: 3s;
}

.navigation_header button {
    border: #000000;
    text-decoration: none;
    color: var(--color-purple);
    transition: 1s;
    font-weight: bold;
    background-color: transparent; /* torna o botão transparente */
    width: 100%; /* ajusta a largura do botão para ser a mesma do cabeçalho */
    height: 50px; /* ajusta a altura do botão */
    font-size: 12px; /* ajusta o tamanho da fonte */
    margin: 0; /* remove as margens */
}

.navigation_header button:hover {
    color: #000000;
    
 }
 

.active{
    background: var(--color-dark3);
    padding: 10px;
    border-radius: 10px;
}
.btn_icon_header{
    background: transparent;
    border: none;
    color: var(--color-white);
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .navigation_header{
        position: fixed;
        flex-direction: column !important;
        top: 0;
        background: var(--color-dark5);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    .btn_icon_header{
        display: block;
    }
}
@keyframes showSidebar {
    from {margin-left: -100vw;}
    to {margin-left: -10vw;}
}
/*Princial*/
#sobre{
box-sizing: border-box;
z-index: 4;
padding: 0% 10%;
}
footer{
    box-sizing: border-box;
    padding: 0;
    width: 100%;
    background: #262533;
}
#home{
height: 100%;
box-sizing: border-box;
background-image: url('./img/Frame 169.png');
background-repeat: no-repeat;
background-size: cover;
margin-right: 0;
padding: 0;
}

#home img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
#home h1{
background: linear-gradient(to right, #FFFFFF, #FFD700);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
color: transparent;
}
#contato{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
font-size: 25px;
background: #fff;
color: #fff;
}

.tecnica, .pessoal, .profissional, .educacao, .certificacao, .projetos, .idioma{
padding: 10px 0px 20px 0px;
}

.titulo{
background-color: var(--cor-secundario);
color: var(--cor-fonte);
border: 3px var(--cor-secundario);
border-radius: 15px;
font-family: 'Molli', sans-serif;
display: flex;
align-items: center;
}

.tecnico ul, .profissional ul, .certificação ul, .educacao ul, .tecnica ul, .pessoal ul, .projetos ul{
padding: 15px 0px 15px 50px;
}

.educacao a{
text-decoration: none;
color: #000000;
}

.pessoal al{
padding: 15px 0px 15px 50px;
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table{
width: 100%;
margin-top: 5vh;
border-color: #000000;
table-layout: fixed;
border-collapse: collapse;
background-color: var(--cor-secundario);

}

thead th:nth-child(1) {
width: 18%;
}

thead th:nth-child(2) {
width: 18%;
}

thead th:nth-child(3) {
width: 28%;
}

thead th:nth-child(4) {
width: 18%;
}

thead th:nth-child(5) {
width: 18%;
}

thead{
color: var(--cor-principal)
}
th, td {
padding: 5px;
}

tbody td {
text-align: center;
}

tbody tr:nth-child(odd){
background-color: var(--cor-principal);
}

tbody tr:nth-child(even) {
background-color: var(--cor-secundario);
color: #fff;
}

@media screen and (max-width: 768px) {
    tbody td{
        font-size: 10px;
       
    }
    thead th{
      font-size: 12px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
}

.imagem {
margin: 5px 15px 5px 10px;
}


/*footer*/



.footer-wrap {
    
    padding-top: 5rem;
    background-size: cover;
}

.footer-wrap h3 {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #b3b3b3;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #fff;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}

.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}


.footer-links li:before {
    content: "›";
    padding-right: 10px;
    color: #ccc;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #ccc;
    text-decoration: none;
}

.footer-category li:before {
    content: "›";
    padding-right: 10px;
    color: #b3b3b3;
}

.social_links ul li {
    display: inline-block;
    list-style: none;
    background-color: #f9cc41;
    height: 40px;
    width: 40px;
    padding: 8px 12px;
}

.social_links ul li a:hover {
    color: #262533;
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
}

footer .company-info {
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}

footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}

footer .first_class p,
footer .first_class h3 {
    margin: 0 0;

}


footer .newsletter input[type="text"] {
    width: 100%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 30px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .company-info_bdr {
    padding-top: 25px;
    border-top: 1px solid #222;
}

footer dl,
ol,
ul {
    padding-left: 5px;
}

footer li {
    list-style: none;
}
@media (max-width: 768px) {
    .footer-wrap {
        padding-top: 3rem;
    }

    .footer-wrap h3 {
        font-size: 15px;
    }

    .footer-wrap p {
        font-size: 11px;
        line-height: 20px;
    }

    .footer-links li a,
    .footer-category li a {
        font-size: 11px;
        line-height: 25px;
    }

    .social_links ul li {
        height: 30px;
        width: 30px;
        padding: 6px 9px;
    }

    .copyright {
        font-size: 12px;
    }
}
.mapa{
    justify-content: center;
    height: 100vh;
    padding: 0% 10%;
}

#map {
    height: 50vh;
    width: 100%;
  }
.mapa h1{
    margin: 5vh;
    margin-top: 20vh;
    text-align: center;
    color: #000000;
    padding-bottom: 10px;
  }

  /*Contato*/
    #contato{
        background-color: #1c1c1c;
        height: 70vh;

    }
  .quadro{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #212121;
    background-color: #FFFFFF;
    padding: 0% 5% 0% 5%;
    border-radius: 8px;
    height: 50%;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.5);
  
  }

 .titulo-quadro{
    margin-top: 16px;
 }

 .box-contato {
    padding-right: 20px;
    height: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}

/* Estilos para cada caixa de contato */
.box-whats,
.box-instagram,
.box-git,
.box-face {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Adicione ícones ou conteúdo específico aqui */
}

/* Exemplo de ícone usando font-awesome (substitua pelo seu próprio conteúdo) */
.box-whats{
    color: #FFFFFF;
    background-color: #25d366;
}

.box-face{
    color: #FFFFFF;
    background-color: #1877f2;
}

.box-instagram{
    color: #FFFFFF;
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.box-git{
    background-color: #fff;
}

@media screen and (max-width: 768px) {
    .quadro{
        align-items: center;
        justify-content: center;
        height: 50%;
        width: 230px;
        border-color: 5px var(--color-white);
    }
    .box-contato{
        width: 230px;
        align-items: center;
    }
    .box-whats,
    .box-instagram,
    .box-git,
    .box-face{
        width: 50px;
        height: 50px;
        margin-left: 10px;
    }
}
